@use 'abstracts' as *;

.articles-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(rem(300), 1fr));
  gap: rem(20);
  align-items: stretch;
  padding-bottom: rem(70);
}

.no-articles-message {
  color: white;
  font-size: x-large;
  margin: rem(20);
}

.main-content {
  padding: rem(20);
}

.main-content-header {
  width: 100%;
}

.paginator-container {
  margin-top: rem(20);
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  padding: rem(8) rem(16);
  background-color: white;

  @include flex-container(row, flex-end, center);
}

.loading-message {
  margin: rem(30);
  color: white;
  font-size: x-large;
}
