@use 'abstracts' as *;

.articles-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(rem(300), 1fr));
  gap: rem(20);
  align-items: stretch;
}

.no-articles-message {
  color: white;
  font-size: x-large;
  margin: rem(20);
}

.main-content {
  padding: rem(20);
}

.main-content-header {
  width: 100%;
}

.main-content-footer {
  margin-top: rem(20);

  @include flex-container(row, flex-end, center);
}

.loading-message {
  margin: rem(30);
  color: white;
  font-size: x-large;
}
