@use 'abstracts' as *;

.spacer {
  /* Takes up all remaining horizontal space */
  flex: 1 1 auto;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  background-color: $primary-color;
  color: white;
  box-shadow: 0 rem(4) rem(15) rgb(0 0 0 / 30%); /* Deep, soft shadow */
  top: 0;
  z-index: 1000;
}

.navbar span {
  font-weight: 900;
}
