/* stylelint-disable selector-class-pattern */

// for error notifications

.error-notification .mdc-snackbar__surface {
  background-color: red !important ;
}

.error-notification .mat-mdc-button {
  color: rgb(234 123 123) !important;
}

.error-notification .mdc-snackbar__label {
  color: rgb(245 245 245) !important;
  font-weight: bolder;
  font-size: large;
}

// for success-notifications snackbars
.success-notification .mdc-snackbar__surface {
  background-color: rgb(8 186 8) !important ;
}

.success-notification .mat-mdc-button {
  color: rgb(99 244 99) !important;
}

.success-notification .mdc-snackbar__label {
  color: rgb(245 245 245) !important;
  font-weight: bolder;
  font-size: large;
}
