@use 'abstracts' as *;

.article-card {
  max-width: rem(600);
  margin-top: rem(16);
  display: flex;
  flex-direction: column;
  height: 100%;
  transition:
    transform 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;
  border-radius: 20px;
}

.article-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 16px rgb(0 0 0 / 20%);
  cursor: pointer;
}

.article-image {
  width: 100%;
  height: rem(160);
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: rem(16);
}

.article-card-title {
  font-size: 1.25rem;
  line-height: 1.4;
  margin-bottom: rem(5) !important;
}

.article-card-content {
  flex-grow: 1;
  padding-top: rem(16);
}

.tag-chip-set {
  margin-top: rem(12);
}
