<mat-card class="article-card" (click)="handleArticleClick(article)" [routerLink]="['/articles', article.id]">
  <!-- Featured Image -->
  <!-- <img mat-card-image [src]="article.imageUrl" alt="Article featured image"> -->

  <mat-card-header>
    <!-- Author Name & Publication Date -->
    <mat-card-title>{{ article.title }}</mat-card-title>
    <mat-card-subtitle> By {{ article.author }} • {{ article.createdAt | date: 'mediumDate' }} </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <!-- Short Description -->
    <img mat-image src="https://placehold.net/6.png" class="article-image" alt="img" />
    <p>{{ article.description }}</p>

    <!-- Tags using Chips -->
    <mat-chip-set aria-label="Article tags">
      @for (item of article.tags; track $index) {
        <mat-chip color="primary">
          {{ item }}
        </mat-chip>
      }
    </mat-chip-set>
  </mat-card-content>

  <!-- <mat-card-actions align="end">
    <button mat-raised-button color="primary" (click)="handleArticleClick(article)">READ MORE</button>
  </mat-card-actions> -->
</mat-card>
