<mat-card class="article-card">
  <!-- Featured Image -->
  <!-- <img mat-card-image [src]="article.imageUrl" alt="Article featured image"> -->

  <mat-card-header>
    <!-- Author Name & Publication Date -->
    <!-- <div mat-card-avatar class="author-image" [style.backgroundImage]="'url(' + article.authorImg + ')'"></div> -->
    <mat-card-title>{{ article.title }}</mat-card-title>
    <mat-card-subtitle> By {{ article.author }} • {{ article.createdAt | date: 'mediumDate' }} </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <!-- Short Description -->
    <p>{{ article.description }}</p>

    <!-- Tags using Chips -->
    <mat-chip-set aria-label="Article tags">
      @for (item of article.tags; track $index) {
        <mat-chip color="primary">
          {{ item }}
        </mat-chip>
      }
    </mat-chip-set>
  </mat-card-content>

  <mat-card-actions align="end">
    <button mat-raised-button color="primary" (click)="handleArticleClick(article)">READ MORE</button>
  </mat-card-actions>
</mat-card>
