@use 'abstracts' as abs;

.not-found {
  @include abs.flex-center;

  flex-direction: column;
  height: 100vh;
  text-align: center;
  background-color: abs.$bg-color;

  &__error-code {
    font-size: abs.rem(128);
    font-weight: 900;
    color: abs.$primary-error-color;
    margin: 0;
  }

  &__message {
    font-size: abs.rem(24);
    margin-bottom: abs.rem(32);
    color: abs.$text-error-secondary;
  }
}
