@use 'abstracts' as abs;

.not-found {
  @include abs.flex-center-column;

  height: 100vh;
  text-align: center;

  &__error-code {
    font-size: abs.rem(128);
    font-weight: 900;
    color: abs.$primary-error-color;
    margin: 0;
  }

  &__message {
    font-size: abs.rem(24);
    margin: abs.rem(32);
    color: abs.$secondary-error-color;
  }
}
