@use 'abstracts' as *;

.login-page {
  @include flex-center-column;

  min-height: 100vh;
  padding: rem(20);
}

.login-card {
  width: 100%; // Full width on small screens
  max-width: rem(400); // Caps width at 400px on desktop
  padding: rem(20);
  border-radius: 20px;

  @media (width <= 480px) {
    margin: rem(20) auto;
    padding: rem(16);
    box-shadow: none; // flat look on mobile
  }
}

.full-width {
  width: 100%;
}

.auth-form {
  @include flex-center-column;

  justify-content: space-between;
  padding: rem(20) 0; // Vertical padding only
  width: 100%;
}

.login-btn {
  border-radius: 40px;
  height: rem(50);
  width: 100%;
}

.form-title {
  text-align: center;
  margin-bottom: rem(20);
  width: 100%;
  font-size: rem(24);
}

.auth-redirect {
  margin-top: rem(8);
  text-align: center;
  font-size: rem(14);

  a {
    text-decoration: none;
    font-weight: 500;

    &:hover {
      text-decoration: underline;
    }
  }
}
