<div class="login-page">
  <mat-card class="login-card">
    <mat-card-header>
      <h2>Login</h2>
    </mat-card-header>
    <form [formGroup]="loginForm" (submit)="handleSubmit()" class="auth-form">
      <mat-form-field class="full-width">
        <mat-label>Username</mat-label>
        <input matInput placeholder="Enter Username" formControlName="username" />

        <mat-error>{{ loginForm.get('username') | controlError: 'Username' }}</mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Enter Password" formControlName="password" type="password" />

        <mat-error>{{ loginForm.get('password') | controlError: 'Password' }}</mat-error>
      </mat-form-field>

      <app-form-button
        [type]="'submit'"
        [color]="'primary'"
        [isDisabled]="!loginForm.valid"
        [text]="'Login'"
        class="full-width"
        [isLoading]="isLoading"></app-form-button>
      <p class="auth-redirect">Not Registered with Blog99? <a routerLink="../signup">Register Now</a></p>
    </form>
  </mat-card>
</div>
