@use 'abstracts';

html {
  font-size: 16px; // base = 1rem
}

body {
  font-family: $font-primary;
  font-size: $fs-base;
  font-weight: $font-regular;
  color: #111827;
  background-color: #f9fafb;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $font-semibold;
  line-height: 1.25;
}

h1 {
  font-size: $fs-3xl;
}

h2 {
  font-size: $fs-2xl;
}

h3 {
  font-size: $fs-xl;
}

h4 {
  font-size: $fs-lg;
}

h5 {
  font-size: $fs-base;
}

h6 {
  font-size: $fs-sm;
}


p {
  font-size: $fs-base;
  line-height: 1.6;
  color: #374151;
}


small {
  font-size: $fs-sm;
}


strong {
  font-weight: $font-bold;
}