@use 'abstracts' as abs;

html {
  font-size: 16px; // base = 1rem
}

body {
  font-family: abs.$font-primary;
  font-size: abs.$fs-base;
  font-weight: abs.$font-regular;
  color: #111827;
  background-color: #f9fafb;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: abs.$font-semibold;
  line-height: 1.25;
}

h1 {
  font-size: abs.$fs-3xl;
}

h2 {
  font-size: abs.$fs-2xl;
}

h3 {
  font-size: abs.$fs-xl;
}

h4 {
  font-size: abs.$fs-lg;
}

h5 {
  font-size: abs.$fs-base;
}

h6 {
  font-size: abs.$fs-sm;
}


p {
  font-size: abs.$fs-base;
  line-height: 1.6;
  color: #374151;
}


small {
  font-size: abs.$fs-sm;
}


strong {
  font-weight: abs.$font-bold;
}