@use 'abstracts' as *;

.search-box {
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  background-color: white;
  padding-left: rem(20);
}

.search-input {
  width: 100%;
  padding: rem(15);
  border: none;
  border-radius: 20px;
  font-size: medium;
  font-weight: 500;

  &:focus {
    border: none;
    outline: none;
    box-shadow: none;
  }
}
