@use 'abstracts' as *;

.search-field {
  width: 100%;

  // max-width: 500px; /* Adjust based on your header/layout */
  background-color: aliceblue;
  margin-top: rem(20);
  margin-left: rem(20);
}
