/* stylelint-disable no-invalid-position-declaration */
@use 'variables' as vars;
@use 'functions' as func;
@use 'sass:map';

@mixin flex-container($direction: row, $spacing: space-between, $align: center) {
  display: flex;
  justify-content: $spacing;
  flex-direction: $direction;
  align-items: $align;
}

@mixin responsive($size) {
  $query: map.get(vars.$breakpoints, $size);
  $value: map.get($query, 'min-width');

  @if $query {
    @media (min-width: #{$value}) {
      @content;
    }
  } @else {
    @error "No breakpoint found for `#{$size}`.";
  }
}
