$font-primary: 'Inter', system-ui, 'Segoe UI', roboto, 'Helvetica Neue', arial, sans-serif;
$font-regular: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;
$fs-xs: 0.75rem;
$fs-sm: 0.875rem;
$fs-base: 1rem;
$fs-lg: 1.125rem;
$fs-xl: 1.25rem;
$fs-2xl: 1.5rem;
$fs-3xl: 2rem;
$bg-color: #0b2d72;
$primary-color: rgb(95 177 205);
$primary-error-color: red;
$secondary-error-color: rgb(0 0 0);
$text-light: rgb(179 68 86);
