@use 'abstracts' as *;

.article-container {
  max-width: 100%;
  margin: rem(20);
  line-height: 1.8;
  padding: rem(20);
  color: white;
  background: none;
}

.me {
  height: auto;
  border-radius: 20px;
}

.lf {
  max-width: 100%;
  max-height: rem(400);
}

.title {
  font-size: rem(30);
  margin: rem(16) 0 rem(8);
  font-weight: 750;
  line-height: 1.8;
}

.details {
  display: flex;
  gap: rem(15);
  font-size: rem(15);
  margin-bottom: rem(24);
}

.tag-list {
  display: flex;
  gap: rem(8);
  flex-wrap: wrap;
  margin-bottom: rem(32);
}

.tag {
  background: #f0f0f0;
  padding: rem(4) rem(12);
  border-radius: 20px;
  font-size: rem(14);
}

.body-text p {
  margin-bottom: rem(24);
  font-size: medium;
}

.article-footer {
  margin-top: rem(48);
  padding-top: rem(16);
  border-top: 1px solid #eee;
}

@include responsive('large') {
  .title {
    font-size: rem(40);
  }
}
