<div class="filters-sidedrawer">
  <mat-card class="filters-card">
    <mat-card-header>
      <h2>Apply Filters</h2>
    </mat-card-header>
    <form [formGroup]="filtersForm" (submit)="handleSubmit()">
      <mat-form-field class="full-width">
        <mat-label>Author</mat-label>
        <input matInput placeholder="Enter Author name" formControlName="author" />
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Sort By</mat-label>
        <mat-select formControlName="sortBy">
          <mat-option value="title">Title</mat-option>
          <mat-option value="createdAt">Created At</mat-option>
          <mat-option value="updatedAt">Updated At</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Sort Order</mat-label>
        <mat-select formControlName="sortOrder">
          <mat-option value="DESC">Descending</mat-option>
          <mat-option value="ASC">Ascending</mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-raised-button color="primary" class="full-width" type="submit" class="filters-btn" disabled="{{ !filtersForm.valid }}">
        Apply Filters
      </button>
      <p>Not Registered with Blog99? <a routerLink="../signup">Register Now</a></p>
    </form>
  </mat-card>
</div>
